<div class="row">
  <div class="col">
    <% if notice.present? %>
      <div class="alert alert-info">
        <p id="notice"><%= notice %></p>
      </div>
    <% end %>

    <h1>Listing Contacts</h1>
  </div>
</div>


<div class="row">
  <div class="col">
    <%= form_tag destroy_multiple_contacts_path, method: :delete do %>
      <table class='table'>
        <thead>
          <tr>
            <th colspan="1"></th>
            <th>Id</th>
            <th>Name</th>
            <th>Telephone</th>
            <th>Emergency contact name</th>
            <th>Emergency contact telephone</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>      
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= check_box_tag 'ids[]', contact.id %></td>
              <td><%= contact.id %></td>
              <td><%= link_to contact.name, edit_contact_path(contact) %> </td>
              <td><%= contact.telephone %></td>
              <td><%= contact.emergency_contact_name %></td>
              <td><%= contact.emergency_contact_telephone %></td>
              <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
              <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @contacts %>
      <br>
      <%= submit_tag "Delete Selected Contacts", class: 'btn btn-danger'%>
    <% end %>
  </div>
</div>

<br>


<div class="row">
  <div class="col-md-3">
    <%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col">
    <h5>Import a list of contacts</h4>
    <div class="alert alert-info">
      <p>CSV file must have these 4 columns in order: Name, Telephone, Emergency Contact Name, and Emergency Contact Telephone. Uploading the same names twice will result in duplicate contacts.</p>
    </div>
    <%= form_tag import_contacts_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag 'Import Contacts CSV', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>


